# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

lightning_logs

src/_*.py

src/models/results

src/models/yolo/models
src/models/yolo/results
src/models/yolo/wandb
src/models/yolo/yolov5/runs
src/models/yolo/yolov5/data/solar_panels/ground_truth
src/models/yolo/yolov5/data/solar_panels/images
src/models/yolo/yolov5/data/solar_panels/labels
src/models/yolo/yolov5/data/solar_panels/tiles*

src/models/segmentation/inference.py

*.zip
*.pt
*.npy
*.docx
*.h5
*.pth
*.bmp
*.png
*.txt